@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom cursor */
/* body {
    cursor: url('../public/knife.jpg'), auto;
  } */
  
  /* Ensure full height for the app */
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }